@page "/Bloggers"
@using Models
@using Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inject Services.BloggerService BloggerService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h2 class="title">Bloggers</h2>

@if (BloggersToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!BloggersToShow.Any())
{
    <p>
        <em>No recipes exist. Please add some.</em>
    </p>
}
else
{
    <div class="row">
        @foreach (var blogger in BloggersToShow)
                {
                    <div class="col-12">
                        <div class="card" style="width: 100%;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="@blogger.picture" class="card-img-top" alt="@blogger.title">
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-decoration: underline">@blogger.firstName</h5>
                                        <p class="card-text">@blogger.title</p>
                                        <button class="btn btn-primary" @onclick="@(() => NavigateToComponent(blogger))">View comments</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
    </div>
}



@code {
    public IList<Blogger> BloggersToShow;  
    private const int lifeBuffer = 300000;

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedLocalStore.GetAsync<IList<Blogger>>("Blogger");

        if (result.Success)
        {
            BloggersToShow = result.Value;
        }
        else
        {
            BloggersToShow = await BloggerService.GetBloggersAsync();
            await ProtectedLocalStore.SetAsync("Blogger", BloggersToShow);

            System.Threading.Timer timer;
            timer = new System.Threading.Timer(async _ => 
            {
               await ProtectedLocalStore.DeleteAsync("Blogger");
            }, null, lifeBuffer, lifeBuffer);

            CloseTimer(timer);
        }

        base.OnInitialized();
    }

    private async Task CloseTimer(System.Threading.Timer timer)
    {
        await Task.Delay(lifeBuffer + 1000);
        await timer.DisposeAsync();
    }

    private void NavigateToComponent(Blogger p) {
      NavigationManager.NavigateTo("Posts?Id=" + p.id);
    }
}