@page "/Bloggers"
@using Models
@using Providers
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject Interfaces.IBloggerWebCacheService BloggerWebCacheService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h2 class="title">Bloggers</h2>

@if (bloggers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!bloggers.Any())
{
    <p>
        <em>No recipes exist. Please add some.</em>
    </p>
}
else
{
    <div class="row">
        @foreach (var blogger in bloggers)
            {
                <div class="col-12" @onclick="@(() => NavigateToComponent(blogger))">
                    <div class="card" style="width: 100%;">
                        <div class="row">
                            <div class="col-3">
                                <img src="@blogger.Picture" class="card-img-top" alt="@blogger.Title">
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <h5 class="card-title">@blogger.Id</h5>
                                    <h5 class="card-title" style="text-decoration: underline">@blogger.Title @blogger.FirstName @blogger.LastName</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
}

@code {
    public IList<Blogger> bloggers;  

    protected override async Task OnInitializedAsync()
    {
        bloggers = await BloggerWebCacheService.GetListData("Blogger");

        base.OnInitialized();
    }

    private void NavigateToComponent(Blogger p) {
        NavigationManager.NavigateTo("Posts?Id=" + p.Id);
    }
}